export GO111MODULE=on
export GOFLAGS=-mod=vendor
export ARTIFACTORY_URL=http://localhost:8081/artifactory
export ARTIFACTORY_TOKEN=AKCp5budTFpbypBqQbGJPz3pGCi28pPivfWczqjfYb9drAmd9LbRZbj6UpKFxJXA8ksWGc9fM
export ARTIFACTORY_REPO=proxy
